#almanac {
  background-image: url(../img/ui/almanac-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px rgba(53, 35, 26, 0.25) solid;
  box-shadow: 0 2px 5px rgba(53, 35, 26, 0.3);
  border-radius: 8px;
  width: 300px;
  height: auto;
  color: rgba(53, 35, 26, 0.66);
  position: fixed;
  padding: 0 20px 15px 20px;
  font-size: 16px;
  text-align: center;
  line-height: 1.4em;
  z-index: 50;
  user-select: initial;
  opacity: 1;
  transform: translate(-35%, -110%);
  transition: opacity 0.15s ease-out;
}
#almanac h3 {
  font-size: 23px;
  padding: 26px 0 6px;
  text-transform: capitalize;
}
#almanac img.back-button,
#almanac img.close-button {
  cursor: pointer;
  transition: transform 0.05s ease-out;
}
#almanac img.back-button:hover,
#almanac img.close-button:hover {
  transform: scale(1.2);
}

#almanac img.back-button {
  position: absolute;
  left: 18px;
  top: 16px;
}
#almanac img.close-button {
  position: absolute;
  right: 18px;
  top: 16px;
}
#almanac.out {
  right: -300px;
  opacity: 0;
}
#almanac img.motive {
  width: 120px;
  height: auto;
  margin: 5px 0 -10px;
}
#almanac img.motive.unknown {
  filter: brightness(0);
  opacity: 0.3;
}
#almanac p {
  margin: 12px 0;
}
#almanac div.markup p {
  margin: 8px 0;
}
#almanac p span.keyword {
  text-transform: capitalize;
  color: rgb(255, 91, 6);
  cursor: pointer;
}
#almanac p span.keyword:hover {
  text-decoration: underline;
}
#almanac .footer {
  position: absolute;
  width: 100%;
  bottom: 24px;
  left: 0;
}