#character {
  position: fixed;
  right: -72px;
  top: 830px;
  height: 380px;
  z-index: 50;
  transform: translateX(50vw);
  transition: transform 0.6s ease-out;
}
#character.active {
  transform: translateX(0);
}
#character.character-at-top {
  top: 105px;
}
#character.touchcontrols {
  right: 200px;
}
#character .card {
  position: absolute;
  bottom: 0;
  top: initial;
  transform: scale(0.5);
}
#character .slot-hero {
  right: 0;
  z-index: 5;
}
#character .slot-1,
#character .slot-2 {
  bottom: -100vh;
  transition: right 0.35s ease-out;
}

#character .slot-1 {
  right: 0;
  z-index: 4;
}
#character .slot-2 {
  right: 190px;
  z-index: 3;
}

#character .slot-1.active {
  right: 190px;
  display: initial;
  bottom: 0;
}
#character .slot-2.active {
  z-index: 3;
  display: initial;
  bottom: 0;
}
#character .slot-2:not(.moveToSlot1).active {
  right: 380px;
}
#character .card .action-button {
  font-size: 42px;
}
#character .card .distance u {
  color: rgba(53, 35, 26, 0.2);
  text-decoration: none;
}

#character .card div.upgrade {
  position: absolute;
  cursor: pointer;
  width: 90px;
  height: 90px;
  border: 2px rgba(53, 35, 26, 0.5) solid;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(53, 35, 26, 0.4);
  border-radius: 18px;
  background-color: transparent;
  background-position: center center;
  background-image: url(../img/card/chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.1s ease-out, box-shadow 0.1s ease-out;
}

#character .card:hover div.upgrade {
  opacity: 1;
}
#character .card:hover div.upgrade:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 5px rgba(53, 35, 26, 0.5);
}

#character .card div.attack-upgrade {
  top: 18px;
  left: 20px;
}
#character .card div.upgrade .attack {
  top: 9px;
  left: 8px;
}
#character .card div.defense-upgrade {
  bottom: 19px;
  right: 20px;
}
#character .card div.upgrade .shield {
  top: 9px;
  left: 8px;
}
#character .card div.durability-upgrade {
  bottom: -38px;
  left: 120px;
  width: 125px;
}
