#craft .nope {
  position: absolute;
  width: 42px;
  height: 42px;
  font-size: 20px;
  z-index: 1;
  text-shadow: 0 1px 1px #fcfaf6, 0 -1px 1px #fcfaf6, 1px 0 1px #fcfaf6, -1px 0 1px #fcfaf6, 0 0 6px #fcfaf6;
}
#craft .nope::before {
  content: '✗';
  color: #e6725d;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-size: 46px;
}

.stump.c-club {
  left: 149px;
  top: 56px;
}
.fail.c-club {
  left: 110px;
  top: 134px;
}
.knife.c-stick {
  left: 92px;
  top: 370px;
}
.branch.c-stick {
  left: 187px;
  top: 363px;
}
.branch.c-axe {
  left: 430px;
  top: 95px;
}
.stone.c-axe {
  left: 530px;
  top: 55px;
}
.tape.c-axe {
  left: 463px;
  top: 138px;
}
.stone.c-fire {
  left: 357px;
  top: 415px;
}
.stump.c-fire {
  left: 474px;
  top: 415px;
}
.straw-wheet.c-fire {
  left: 418px;
  top: 365px;
}
.cloth.c-tape {
  left: 614px;
  top: 255px;
}
.glue.c-tape {
  left: 546px;
  top: 299px;
}

.branch.c-whip {
  left: 127px;
  top: 165px;
}
.rope.c-whip {
  left: 127px;
  top: 55px;
}
.branch.c-fishing-rod {
  left: 472px;
  top: 95px;
}
.rope.c-fishing-rod {
  left: 527px;
  top: 145px;
}
.bone-hook.c-fishing-rod {
  left: 592px;
  top: 67px;
}
.straw-wheet.c-rope {
  left: 111px;
  top: 395px;
}
.straw-wheet.additional.c-rope {
  left: 203px;
  top: 378px;
}
.stump.c-barricades {
  left: 335px;
  top: 420px;
}
.sharp-stick.c-barricades {
  left: 437px;
  top: 329px;
}
.rope.c-barricades {
  left: 487px;
  top: 395px;
}
.knife.c-bone-hook {
  left: 593px;
  top: 273px;
}
.bones.c-bone-hook {
  left: 700px;
  top: 280px;
}
