.card ul.items {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 3;
}

.card ul.items li {
  display: inline-block;
  margin: 0 4px;
  position: relative;
  width: 86px;
  height: 77px;
  box-shadow: 0 2px 3px rgba(53, 35, 26, 0.4);
  border-radius: 18px;
  background-color: transparent;
  background-position: center center;
  background-image: url(../img/card/chip.png);
  background-size: cover;
  background-repeat: no-repeat;  
}
.card ul.items li.item {
  cursor: pointer;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
.card ul.items li.transfer {
  transform: scale(1.5);
  opacity: 0;
}

.card ul.items li.preview .unknown {
  position: absolute;
  font-size: 32px;
  color: rgba(53, 35, 26, 0.8);
  text-align: center;
  top: 18px;
  left: 0;
  width: 100%;
  font-weight: 300;
}
.card ul.items li span.img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../img/card/chip-border-neutral.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card ul.items li span.amount {
  color: rgba(53, 35, 26, 0.8);
  text-shadow: 0 0 5px#fffefb, 0 0 3px #fffefb;
  font-size: 18px;
  position: absolute;
  top: 8px;
  left: 10px;
}
.card ul.items li span.grab {
  text-shadow: 0 0 5px rgb(53, 35, 26), 0 0 3px rgb(53, 35, 26);
  display: inline-block;
  padding: 3px 6px 2px;
  border-radius: 3px;
  line-height: 1em;
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
.card ul.items li:hover span.grab {
  opacity: 1;
}

.card ul.items li span.img img {
  display: block;
  margin: 2% auto;
  width: 85%;
  height: auto;
}
.card ul.items li span.img img.weapon {
  margin-top: -6px;
}

.searching {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 5px;
  top: 5px;
}
.searching div {
  position: absolute;
  border: 4px solid rgba(91, 155, 213, 1);
  opacity: 1;
  border-radius: 50%;
  animation: anim-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.searching div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes anim-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

