#startscreen {
  background-image: url(../img/ui/startscreen-day.jpg);
  background-repeat: no-repeat;
  background-size: 120% 120%;
  background-position: -50px -30px;
  font-family: Averia Serif;
  font-weight: 300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 20;
  opacity: 1;
  transition: opacity 1.5s ease-out;
}
#startscreen p.screen__logo {
  text-align: center;
  margin-bottom: -0.4em;
}
#startscreen p.screen__logo img {
  width: 300px;
  height: auto;
}
#startscreen p.screen__paragraph {
  color: #fffefb;
  text-shadow: 0 1px 2px black;
  display: block;
}
#startscreen .card-tutorial p.screen__paragraph {
  color: rgb(86, 68, 53);
  text-shadow: initial;
}

#startscreen .screen__1,
#startscreen .screen__quit,
#startscreen .screen__win,
#startscreen .screen__dead {
  width: 700px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#startscreen .screen__1 p:not(.screen__logo) {
  margin: 0.66em 0;
}
#startscreen .screen__1 p.screen__press_key {
  text-align: center;
  margin-top: 1.8em;
}
.pulsate {
  animation: pulsate 4s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.5;
}
@keyframes pulsate {
  0% { 
      opacity: 0.2;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.2;
  }
}
#startscreen .screen__menu {
  background: rgba(40, 40, 42, 0.5);
  border-left: 1px rgba(97, 97, 97, 0.9) solid;
  border-right: 1px rgba(97, 97, 97, 0.9) solid;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  width: 540px;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#startscreen .screen__menu div[data-character] {
  background: rgba(40, 40, 42, 0.5);
  border: 1px rgba(97, 97, 97, 0.9) solid;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  width: 400px;
  position: absolute;
  left: 87%;
  opacity: 0;
  color: #fffefb;
  text-shadow: 0 1px 2px black;
  font-size: 16px;
  padding: 8px 24px;
  transition: opacity 0.2s ease-out, left 0.2s ease-out;
}
#startscreen .button.start-game {
  position: relative;
}
#startscreen .button.start-game.not--available::before {
  content: 'Not Yet Available';
  color: #ff925b;
  font-size: 18px;
  padding: 1px 6px;
  position: absolute;
  top: 63%;
  left: 50%;
  border: 2px #ff925b solid;
  border-radius: 4px;
  transform: rotate(5deg) translate(-50%, -50%);
  background-color: rgba(241, 241, 241, 0.95);
}
#startscreen .screen__menu div[data-character].is--selected {
  left: 91%;
  opacity: 1;
}
#startscreen .character__button.is--selected .button {
  position: relative;
}
#startscreen .character__button.is--selected .button::before {
  content: 'Selected';
  color: #ff925b;
  font-size: 18px;
  padding: 1px 6px;
  position: absolute;
  top: 50%;
  right: 12px;
  border: 2px #ff925b solid;
  border-radius: 4px;
  transform: rotate(10deg) translateY(-50%);
}
#startscreen div[data-character="everyman"] {
  top: 11%;
}
#startscreen div[data-character="treehugger"] {
  top: 13%;
}
#startscreen div[data-character="snackivore"] {
  top: 20%;
}
#startscreen div[data-character="craftsmaniac"] {
  top: 23%;
}
#startscreen div[data-character="furbuddy"] {
  top: 30%;
}
#startscreen div[data-character="hardcharger"] {
  top: 34%;
}
#startscreen div[data-character="cashmeister"] {
  top: 39%;
}
#startscreen div[data-character].not--available::before {
  content: 'Preview';
  color: #ff925b;
  font-size: 48px;
  padding: 2px 8px;
  position: absolute;
  top: 54%;
  left: 50%;
  border: 3px #ff925b solid;
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(12deg);
  z-index: 1;
  background-color: rgba(40, 40, 42, 0.5);
}
#startscreen div[data-character] p.nerf {
  color: #c1ff5b;
  position: relative;
  padding-left: 18px;
  margin: 12px 0;
}
#startscreen div[data-character] p.nerf::before {
  content: '+';
  position: absolute;
  top: -4px;
  left: 0px;
  font-size: 21px;
}
#startscreen div[data-character] p.buff {
  color: #ff925b;
  position: relative;
  padding-left: 18px;
  margin: 12px 0;
}
#startscreen div[data-character] p.buff::before {
  content: '-';
  position: absolute;
  top: -4px;
  left: 0px;
  font-size: 21px;
}
#startscreen .screen__menu .container {
    position: absolute;
  width: 100%;
  top: 48%;
  transform: translateY(-50%);
  padding: 100px;
}
#startscreen .screen__update {
  position: fixed;
  color: white;
  font-size: 18px;
  left: 50px;
  top: 50px;
  padding: 20px;
  background: rgba(40, 40, 42, 0.5);
  border: 1px rgba(97, 97, 97, 0.9) solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  width: 336px;
}
#startscreen .screen__update p {
  padding: 0;
}
#startscreen .screen__update a {
  color: #ff5b06;
}
#startscreen .screen__2 p.screen__logo {
  margin-bottom: 3em;
}
#startscreen .screen__2a p.screen__logo img {
  width: 230px;
}
#startscreen .screen__menu p.screen__button {
  margin: 1.4em 0;
}
#startscreen .screen__2a p.narrow__button {
  margin: 0.6em 0;
}
#startscreen .screen__2a p.screen__button {
  margin-bottom: 0.6em;
}
#startscreen .screen__menu p.narrow__button .button {
  padding: 14px 20px;
}

.card-tutorial .button,
#startscreen .button {
  cursor: pointer;
  background-color: rgba(255, 254, 251, 1);
  background-image: url(../img/ui/button-bg.png);
  background-position: center center;
  border-top: 2px white solid;
  border-bottom: 2px rgb(86, 68, 53) solid;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(86, 68, 53, 0.5);
  text-shadow: none;
  font-size: 1em;
  color: rgb(86, 68, 53);
  padding: 24px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 0.9em;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out, opacity 0.2s ease-out;
}
#startscreen .button.full-width {
  display: block;
}
#startscreen .button.half--width {
  display: inline-block;
  width: 49%;
}
#startscreen .button.button--secondary {
  opacity: 0.66;
}
#startscreen .button.inactive {
  cursor: default;
  color: rgba(42, 40, 42, 0.3);
}
#startscreen .button small {
  display: block;
  margin-bottom: -1em;
}
.card-tutorial .button:not(.inactive):hover,
#startscreen .button:not(.inactive):hover {
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0 3px 5px rgba(53, 35, 26, 0.5);
}
#startscreen ul#inventory-presets {
  margin-right: -5%;
  margin-bottom: -5%;
  display: block;
  padding: 0;
}
#startscreen ul#inventory-presets li {
  display: inline-block;
  border-radius: 4px;
  position: relative;
  width: 28%;
  margin: 0 4% 5% 0;
  height: 70px;
}
#startscreen ul#inventory-presets li.empty {
  background: rgba(40, 40, 42, 0.5);
  border: 1px rgba(97, 97, 97, 0.9) solid;
}
#startscreen ul#inventory-presets li.filled {
  background-color: rgba(255, 254, 251, 1);
  box-shadow: 0 1px 2px rgba(53, 35, 26, 0.5);
}
#startscreen ul#inventory-presets li.filled span.amount {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
}
#startscreen ul#inventory-presets li.filled img.item {
  position: absolute;
  height: 70px;
  width: auto;
  top: 0px;
  left: 16px;
}
.card-tutorial {
  z-index: 101;
  background-image: url(../img/card/card-tutorial.png);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 4px 14px rgba(53, 35, 26, 0.5);
  border-radius: 32px;
  font-family: Averia Serif;
  font-size: 20px;
  font-weight: 300;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 814px;
  padding: 30px 50px;
}

.card-tutorial .button {
  display: inline-block;
  width: 30%;
}

.card-tutorial .text--smedium {
  line-height: 0.6em;
}

#startscreen .screen__option {
  margin: 8px 0;
}
#startscreen .screen__option div {
  color: rgba(255, 254, 251, 1);
  font-size: 1em;
  text-shadow: 0 1px 2px black;
  display: inline-block;
  height: 40px;
}
#startscreen .screen__option .slider {
  background-color: rgba(255, 254, 251, 0.2);
  border: 2px rgba(255, 254, 251, 0.6) solid;
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  height: 42px;
  text-align: left;
}
#startscreen .screen__option .slider .knob {
  background-color: rgba(255, 254, 251, 1);
  border: 1px rgba(255, 254, 251, 0.2) solid;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  margin: 1px;
  opacity: 0.5;
  transition: margin 0.1s ease-out, opacity 0.1s ease-out;
}
#startscreen .screen__option .slider:hover .knob {
  opacity: 0.65;
}
#startscreen .screen__option .slider.on .knob {
  opacity: 1;
  margin-left: 40px;
}
#startscreen .screen__option .label {
    vertical-align: top;
    padding: 6px 10px;
}
#startscreen .screen__option .label small {
  line-height: 3em;
  vertical-align: text-top;
}
#startscreen p.screen__paragraph.development-build {
  position: fixed;
  right: 20px;
  bottom: 5px;
  font-size: 0.6em;
}

/*
#startscreen div.options {
  text-align: center;
}
#startscreen div.options div {
  display: inline-block;
  height: 40px;
  color: rgba(53, 35, 26, 0.45);
}
#startscreen div.options .slider {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px rgba(0, 0, 0, 0.2) solid;
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  height: 42px;
  text-align: left;
}
#startscreen div.options .slider .knob {
  background-color: rgba(255, 254, 251, 1);
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  margin: 1px;
  opacity: 0.5;
  transition: margin 0.1s ease-out, opacity 0.1s ease-out;
}
#startscreen div.options .slider.on .knob {
  opacity: 1;
  margin-left: 40px;
}
#startscreen div.options .label {
    vertical-align: top;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 16px;
}
*/